MYSQL_HOST=db  # Nom du service de la base de données
MYSQL_DATABASE=nextcloud  # Nom de la base de données
MYSQL_USER=nextcloud  # Utilisateur de la base
MYSQL_PASSWORD=your_secure_password  # Mot de passe sécurisé
NEXTCLOUD_ADMIN_USER=admin  # Utilisateur admin pour l'installation
NEXTCLOUD_ADMIN_PASSWORD=your_admin_password  # Mot de passe admin
NEXTCLOUD_TRUSTED_DOMAINS=localhost cidev.discorads.com  # Domaines autorisés
