# Set Backend ENV Variables Here
ALLOW_SIGNUP="false"
PUID=1000
PGID=1000
TZ=America/Anchorage
BASE_URL=http://localhost
# Database Settings
DB_ENGINE=postgres
POSTGRES_USER=mealie
POSTGRES_PASSWORD=mealie
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mealie
