PUID=1000
PGID=1000
TZ=Europe/Paris
SERVERURL=192.168.1.1 # Remplace par ton IP publique ou domaine
SERVERPORT=51820
PEERS=2 # Nombre de clients (ex. phone, laptop)
PEERDNS=8.8.8.8
INTERNAL_SUBNET=10.13.13.0
ALLOWEDIPS=0.0.0.0/0
LOG_CONFS=true
